@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Zen+Maru+Gothic&display=swap');

  :root {
    font-family: 'Caveat', cursive;
    font-family: 'Zen Maru Gothic', serif;
    background: #96E671;
    width: 100vw;
    -webkit-tap-highlight-color: transparent; /* Androidで画像をタップした時のハイライトを消す */
  }